<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.mars.muzicow" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesignDemo">

        <activity
            android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:label="@string/app_name"
            android:name=".Activities.adapters.FragmentAdapter"/>

        <activity android:label="@string/app_name"
            android:name=".Login.LoginActivity"/>

        <activity
            android:name=".Activities.Fragments.User.SongDetailActivity"
            android:parentActivityName=".Activities.adapters.FragmentAdapter">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.adapters.FragmentAdapter" />
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0be54a5bc8899c0fe931fd9b4c032df69c4d27a9" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION"/>

</manifest>
